 @use 'vars';
 
 .btn {
    background-color: vars.$background-btn;
    color: white;
    border-radius: 10em;
    font-size: .7em;
    font-weight: 600;
    padding: .7em 1.6em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 white;

    &:hover {
      transform: translateY(-4px) translateX(-2px);
      box-shadow: 2px 5px 0 0 white;
    };
    
    &:active {
      transform: translateY(2px) translateX(1px);
      box-shadow: 0 0 0 0 white;
    };
  }
  