.main {
    display: grid;
    grid-template-rows: repeat(2, 50px) 90px 1fr 70px;
    padding-bottom: 40px;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: red;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &__selector-contenido {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    &__selector-categorias {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    &__buscador {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 2px;
        margin-left: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    &__paginas {
        display: flex;
        justify-content: space-between;
        margin: 0 40px;
        align-items: center;
        gap: 2px;
    }

    &--user {
        margin-top: 55px;
    }
}