.settings {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 200px 1fr 100px;

    &__img {
    }

    &__options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #333;
        
        &-item {
            background-color: black;
            height: 40px;
            width: 50%;
            border-radius: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center; 

            &-img {
                background-color: #242323;
                width: 40px;
            }

            &-text {
                
            }
        }
    }

    &__button {
    }
}