.main {
    display: grid;
    grid-template-rows: repeat(2, 50px) 90px 1fr 70px;
    padding: 20px;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: red;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &__content-selector {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    &__categories-selector {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    &__search {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    &__content[data-action="catalog"] {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        width: 100%;
        box-sizing: border-box;
    }

    &__content[data-action="tops"] {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 2.5rem 1.5rem;
        justify-items: center;
        align-items: stretch;
        width: 100%;
        box-sizing: border-box;
        padding: 1.5rem 0;
        background: transparent;
    }

    &__pages {
        display: flex;
        justify-content: space-between;
        margin: 0 40px;
        align-items: center;
        gap: 2px;
        bottom: 20px;
        padding: 10px;
        border-radius: 10px;
        z-index: 10;
    }

    .error-message {
        grid-column: 1 / -1;
        place-content: center;
        text-align: center;
        padding: 40px;
        background: rgba(255, 71, 87, 0.1);
        border-radius: 10px;
        border: 1px solid rgba(255, 71, 87, 0.2);
        color: #ff4757;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        p {
            margin: 0;
        }
    }

    .reload-button {
        background-color: #ff4757;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
    }

    .loading-state {
        grid-column: 1 / -1;
        text-align: center;
        padding: 40px;
        color: #fff;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px 20px;

        i {
            font-size: 48px;
            animation: spin 1s linear infinite;
        }

        p {
            margin: 0;
        }
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    &--user {
        margin-top: 55px;
    }
}