$font-main: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// Colores principales
$main-color: #17171b;
$main-color-2: #212121;

// Colores secundarios
$second-color: red;
$second-color-2: #ff4561;

// Colores de fondo
$background-general: $main-color;
$background-genres: #110f14;
$background-nav: #110f14;

// Colores de botones
$color-btn-genres: $second-color;
$background-btn-genres: $main-color-2;
$background-btn: $main-color-2;

// Colores de texto
$text-color: #fefefe;
$text-color-secondary: rgba(255, 255, 255, 0.7);

// Sombras
$shadow-color: rgba(0, 0, 0, 0.2);
$shadow-color-hover: rgba(0, 0, 0, 0.3);